server:
  port: 8083

spring:
  application:
    name: enrollment-service

  datasource:
    url: jdbc:postgresql://postgres-enrollment:5432/enrollment_db
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/lms-realm

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
