server:
  port: 8083

spring:
  application:
    name: enrollment-service

  datasource:
    url: jdbc:postgresql://postgres-enrollment:5432/enrollment_db
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
