apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: lms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: analytics-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8085
---
apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: lms
spec:
  selector:
    app: analytics-service
  ports:
    - port: 8085
