apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-service
  namespace: lms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-service
  template:
    metadata:
      labels:
        app: course-service
    spec:
      containers:
        - name: course-service
          image: course-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: course-service
  namespace: lms
spec:
  selector:
    app: course-service
  ports:
    - port: 8082
